<!DOCTYPE html>
<html>

	<head>
		<!--设置浏览器的布局视口，只在移动端浏览器起作用-->
		<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no" dir="ltr" />
		<meta charset="UTF-8">
		<title>查询用车记录</title>
		<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css" />
		<style>
			.pagination {
				margin-top: 0!important;
			}
		</style>
	</head>

	<body>
		<div class="container">

			<h3 class="page-header">
				申请列表
			</h3>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-8">
					<form class="form-inline" id="form1">
						<!--<div class="form-group">
							<label for="">申请人</label>
							<select name="vehUseEmp" id="vehUseEmp" class="form-control">
								<option value="">请选择申请人</option>							
							</select>
						</div>-->
						<div class="form-group">
							<label for="">审批状态</label>
							<select name="vehAppState" id="vehAppState" class="form-control">
								<option value="">请选择审批状态</option>	
								<option value="审批通过">审批通过</option>
								<option value="未通过">未通过</option>
								<option value="审批中">审批中</option>
								<option value="待审批">待审批</option>
								<option value="撤销">撤销</option>
							</select>
				        </div>
						
						<div class="form-group">
							<label for="">车辆</label>
							<select name="vehicleId" id="vehicleId" class="form-control">
								<option value="">请选择车辆</option>							
							</select>
						</div>
						
						<div class="form-group" >
							<input type="button" value="普通搜索" class="btn btn-primary" id="searchBtn"/>
						</div>
					</form>
				</div>
				<!--<div class="col-md-12">
					<div class="input-group">
						<input type="text" class="form-control" id="keywords" name="keywords" placeholder="请输入要查询的关键字">
						<span class="input-group-btn">
	                    	<button type="button" class="btn btn-primary">全文搜索</button>
	                    </span>
					</div>
				</div>-->
			</div>

			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>记录编号</th>
						<th>申请人</th>
						<th>用车开始时间</th>
						<th>用车结束时间</th>
						<th>审批状态</th>
						<th>车辆</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<!--v-for循环遍历数据绑定到画面-->
					<tr v-for="(vehUse,index) in vehUseData">
						<td>{{vehUse.vehUseId}}</td>
						<td>{{vehUse.vehUseEmp.empName}}</td>
						<td>{{vehUse.vehUseStart}}</td>
						<td>{{vehUse.vehUseEnd}}</td>
						<td>{{vehUse.vehAppState}}</td>
						<td>{{vehUse.veh.vehicleName}}</td>
						<td>
							<input type="button" value="修改/详细" class="btn btn-info btn-sm" @click="showDetails(vehUse.vehUseId);"/>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row" v-show="pager.recordCount!=0">
				<div class="col-sm-4">
					<div>
						共{{pager.recordCount}}条数据，每页{{pager.pageSize}}条， 共{{pager.pageCount}}页，当前是第{{pager.pageNum}}页
					</div>
				</div>
				<div class="col-sm-8">
					<nav>
						<ul class="pagination pull-right">
							<li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(1);">首页</a></li>
							<li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(pager.pageNum-1);">上页</a></li>

							<li :class="{active:item==pager.pageNum}" v-for="(item,index) in pageBtn"><a href="javascript:void(0);" @click="query(item);">{{item}}</a></li>

							<li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageNum+1);">下页</a></li>
							<li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageCount);">末页</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="alert alert-info" v-show="pager.recordCount==0">
				没有任何满足条件的数据
			</div>
			<div class="row">
				<div class="col-md-offset-8 col-md-4">
					<a href="Apply.html" class="btn btn-primary btn-block">申请用车</a>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/global.js"></script>
		<script type="text/javascript" src="../js/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="../js/layer/layer.js"></script>
		<script type="text/javascript" src="../js/vue/vue2.5.js"></script>

		<script>
			
			
			//搜索条件
//			var vehUseEmpcond = '';
			var vehAppStatecond =''
			var vehcond = '';

//			//动态生成申请人列表
//			$.getJSON(baseUrl + '/employee/getAll', {}, function(data) {
//					//遍历数据集合
//					$.each(data, function(index, el) {
//						$('#vehUseEmp').append('<option value="' + el.empId + '" >' + el.empName + '</option>');
//					});
//				})
//				.error(function() {
//					alert('请求申请人列表失败');
//				});

			//动态生成车辆列表
			$.getJSON(baseUrl + '/vehicle/query', {}, function(data) {
					//遍历数据集合
					$.each(data.list, function(index, el) {
						$('#vehicleId').append('<option value="' + el.vehicleId + '" >' + el.vehicleName + '</option>');
					});
				})
				.error(function() {
					alert('请求车辆列表失败');
				});

			var v = new Vue({
				el: '.container', //应用vue数据的范围
				data: { //数据模型
					vehUseData: [], //用车记录数据集合
					pager: {}, //分页信息
					pageBtn: [] //分页按钮

				},
				methods: { //定义方法
					query: function(pageNum) { //查询					
						//发出ajax请求调用后端接口
						var url = baseUrl + "/veh/queryByEmp";

						//请求参数
						var params = {
							pageNum: pageNum,
							pageSize: 5,
//							vehUseEmp: vehUseEmpcond
							vehAppState: vehAppStatecond,
							vehicleId: vehcond
						}

						$.ajax({
							type: "POST", //请求类型get post
							url: url, //请求url地址
							async: true, //true默认表示异步请求
							dataType: 'json', //响应的数据类型
							data: params //请求参数
						})
						.done(function(data, status, xhr) { //请求成功回调函数
							//把响应的数据赋值给vue数据模型中的变量
							v.vehUseData = data.list;
							v.pager = data.pager;

							//生成分页按钮
							var start = v.pager.pageNum - 2;
							var end = v.pager.pageNum + 2;

							if (v.pager.pageNum < 3) {
								start = 1;
								end = 5;
							}

							if (end > v.pager.pageCount) {
								end = v.pager.pageCount;
							}

							if (v.pager.pageCount < 5) {
								start = 1;
								end = v.pager.pageCount;
							}

							v.pageBtn = []; //初始化清空

							for (var i = start; i <= end; i++) {
								v.pageBtn.push(i);
							}

						})
						.fail(function(xhr, errorStatus, errorText) { //请求失败回调函数
							alert(errorStatus + ',' + errorText);
						});
					},
					showDetails: function(vehUseId) { //修改查看详细的方法

						// 利用iframe加载其他网页内容到页面层 type:2
						layer.open({
							title: '用车记录详细信息',
							type: 2,
							area: ['600px', '800px'], //宽高
							content: 'Detail.html?vehUseId=' + vehUseId + '&pageNum=' + v.pager.pageNum
						});

					}

				}
			});

			//			调用查询方法
			v.query(1);

			//搜索按钮单击
			$('#searchBtn').click(function() {

				//条件赋值
//				vehUseEmpcond = $('#vehUseEmp').val();
				vehAppStatecond = $('#vehAppState').val();
				vehcond = $('#vehicleId').val();

				v.query(1);
			});
			
			
		</script>

	</body>

</html>