<!DOCTYPE html>
<html>

	<head>
		<!--设置浏览器的布局视口，只在移动端浏览器起作用-->
		<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>库存列表</title>
		<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css" />
		<style>
			.pagination {
				margin-top: 0!important;
			}
		</style>
	</head>

	<body>

		<div class="container">

			<ol class="breadcrumb">
				<li><a href="#">OA系统</a></li>
				<li><a href="#">系统管理</a></li>
				<li><a href="#">库存管理</a></li>
				<li>库存列表</li>
			</ol>

			<h3 class="page-header">
				库存列表
			</h3>

			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-11">
					<form class="form-inline" id="form1">

						<div class="form-group">
							<input type="text" name="stockName" id="stockName" class="form-control" placeholder="请输入物品名称关键字" />
						</div>
						<div class="form-group">
							<input type="text" name="stockTime" id="stockTime" class="form-control" placeholder="请输入日期关键字" />
						</div>
						<div class="form-group">
							<input type="button" value="普通搜索" class="btn btn-primary" id="searchBtn" />
						</div>
					</form>
				</div>
			</div>

			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>物品编号</th>
						<th>物品名称</th>
						<th>物品总数量</th>
						<th>物品已使用数量</th>
						<th>物品损坏数量</th>
						<th>添加物品时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(stock, index) in stockData">
						<td>{{stock.stockId}}</td>
						<td>{{stock.stockName}}</td>
						<td>{{stock.stockNum}}</td>
						<td>{{stock.stockUsedNum}}</td>
						<td>{{stock.stockBrokenNum}}</td>
						<td>{{stock.stockTime}}</td>
						<td>
							<input type="button" value="修改" class="btn btn-info btn-sm" @click="showDetails(stock.stockId);"/>
							<!--<input type="button" value="删除" class="btn btn-danger btn-sm" @click="del(stock.stockId,index);"/>-->
						</td>
					</tr>

				</tbody>
			</table>

			<div class="row" v-show="pager.recordCount!=0">
				<div class="col-sm-4">
					<div>
						共{{pager.recordCount}}条数据，每页{{pager.pageSize}}条， 共{{pager.pageCount}}页，当前是第{{pager.pageNum}}页
					</div>
				</div>
				<div class="col-sm-8">
					<nav>
						<ul class="pagination pull-right">
							<li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(1);">首页</a></li>
							<li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(pager.pageNum-1);">上页</a></li>

							<li :class="{active:item==pager.pageNum}" v-for="(item,index) in pageBtn"><a href="javascript:void(0);" @click="query(item);">{{item}}</a></li>

							<li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageNum+1);">下页</a></li>
							<li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageCount);">末页</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="alert alert-info" v-show="pager.recordCount==0">
				没有任何满足条件的数据
			</div>

			<div class="row">
				<div class="col-md-offset-8 col-md-4">
					<a href="AddStock.html" class="btn btn-primary btn-block">增加新物品</a>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/global.js"></script>
		<script type="text/javascript" src="../js/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="../js/layer/layer.js"></script>
		<script type="text/javascript" src="../js/vue/vue2.5.js"></script>

		<script>
			//搜索条件
			var stockNameCond = '';
			var stockTimeCond = '';

			var v = new Vue({
				el: '.container', //应用vue数据的范围
				data: { //数据模型
					stockData: [], //分组数据集合
					pager: {}, //分页信息
					pageBtn: [] //分页按钮
				},
				methods: { //定义方法
					query: function(pageNum) { //查询					
						//发出ajax请求调用后端接口
						var url = baseUrl + "/stock/query";

						//请求参数
						var params = {
							pageNum: pageNum,
							pageSize: 4,
							stockName: stockNameCond,
							stockTime: stockTimeCond,
						}

						$.ajax({
							type: "post", //请求类型get post
							url: url, //请求url地址
							async: true, //true默认表示异步请求
							dataType: 'json', //响应的数据类型
							data: params //请求参数
						})
						.done(function(data, status, xhr) { //请求成功回调函数
							//把响应的数据赋值给vue数据模型中的变量
							v.stockData = data.list;
							v.pager = data.pager;

							//生成分页按钮
							var start = v.pager.pageNum - 2;
							var end = v.pager.pageNum + 2;

							if (v.pager.pageNum < 3) {
								start = 1;
								end = 5;
							}

							if (end > v.pager.pageCount) {
								end = v.pager.pageCount;
							}

							if (v.pager.pageCount < 5) {
								start = 1;
								end = v.pager.pageCount;
							}

							v.pageBtn = []; //初始化清空

							for (var i = start; i <= end; i++) {
								v.pageBtn.push(i);
							}
						})
						.fail(function(xhr, errorStatus, errorText) { //请求失败回调函数
							alert(errorStatus + ',' + errorText);
						});
					},
					
					showDetails:function(stockId) { //修改查看详细的方法
						
						// 利用iframe加载其他网页内容到页面层 type:2
						layer.open({
							title:'修改物品库存信息',
						    type: 2, 				   
						    area: ['600px', '600px'], //宽高
						    content: 'UpdateStock.html?stockId=' + stockId + '&pageNum=' + v.pager.pageNum
						});
						
					},

//					del: function(stockId, index) { //删除
//
//						var flag = window.confirm('确定要删除此物品库存吗');
//
//						if (!flag)
//							return;
//
//						//发出ajax请求调用后端接口
//						var url = baseUrl + "/stock/delete";
//
//						$.ajax({
//							type: "get", //请求类型get post
//							url: url, //请求url地址
//							async: true, //true默认表示异步请求
//							dataType: 'text', //响应的数据类型	
//							data: {stockId: stockId}
//						})
//						.done(function(data, status, xhr) { //请求成功回调函数
//							layer.msg('删除物品库存成功');
//							//location.reload();//刷新当前网页
//							v.stockData.splice(index, 1); //前端删除
//						})
//						.fail(function(xhr, errorStatus, errorText) { //请求失败回调函数
//							alert(errorStatus + ',' + errorText);
//						});
//					}
				}
			});

			//			调用查询方法
			v.query(1);

			//搜索按钮单击
			$('#searchBtn').click(function() {

				//条件赋值
				stockNameCond = $('#stockName').val();
				stockTimeCond = $('#stockTime').val();

				v.query(1);
			});
		</script>

	</body>

</html>