<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.system.dao.CheckMapper">

	<!-- 查询结果集映射 -->
	<resultMap id="BaseResultMap" type="com.icss.oa.system.pojo.Check">
		<id column="check_id" property="checkId" jdbcType="INTEGER" />
		<result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
		<association property="emp" javaType="com.icss.oa.system.pojo.Employee">
			<id column="employee_id" property="empId" jdbcType="INTEGER" />
			<result column="employee_name" property="empName" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<insert id="insert" parameterType="com.icss.oa.system.pojo.Check">
		insert into checks (check_id,check_emp_id,check_time)
		values(default,#{emp.empId},#{checkTime})
	</insert>

	
	<select id="queryByEmpId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * 
		from checks
		where check_emp_id=#{checkEmpId}
		LIMIT #{start},#{pageSize}
	</select>
	
	<select id="query" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from checks 
		order by check_id
		LIMIT #{start},#{pageSize}
	</select>
	
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from checks
	</select>
	
	<select id="getECount" resultType="java.lang.Integer">
		select count(*) 
		from checks
		where check_emp_id=#{checkId}
	</select>

</mapper>