<!DOCTYPE html>
<html>
	<head>
		<!--设置浏览器的布局视口，只在移动端浏览器起作用-->
		<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css" />
		<style>
			.pagination {
				margin-top: 0!important;
			}			
		</style>
	</head>
	<body>		
		<div class="container">
			
			<ol class="breadcrumb">
				<li><a href="#">OA系统</a></li>
				<li><a href="#">系统管理</a></li>
				<li><a href="#">任务管理</a></li>
				<li>任务列表</li>
			</ol>
			
			<h3 class="page-header">
				任务列表
			</h3>
			
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-8">
	            	 <form class="form-inline" id="form1">
						<div class="form-group">
							<label for="">授予人</label>							
							<select name="empId1" id="empId1" class="form-control">
							<option value="">请选择授予人</option>							
							</select>																
						</div>	
						<div class="form-group">
							<label for="">被授予人</label>							
							<select name="empId2" id="empId2" class="form-control">
							<option value="">请选择被授予人</option>							
							</select>											
						</div>
						<div class="form-group">
							<input type="text" name="schName" id="schName" 
								class="form-control" placeholder="请输入任务名称关键字" />												
						</div>
						<div class="form-group">
							<input type="button" value="普通搜索" class="btn btn-primary" id="searchBtn" />
						</div>										
					</form>     
	            </div>
	            <div class="col-sm-4">
	            	<a href="QuerySch.html" class="btn btn-info">切换到全文检索</a>
	            </div>
			</div>
			

			
			<table  v-show="pager.recordCount!=0" class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>任务编号</th>
						<th>任务名称</th>
						<th>任务授予时间</th>
						<th>任务开始时间</th>
						<th>任务结束时间</th>
						<th>授予人</th>
						<th>被授予人</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<!--v-for循环遍历数据绑定到画面-->
					<tr v-for="(sch,index) in schData">
						<td>{{sch.schId}}</td>
						<td>{{sch.schName}}</td>
						<td>{{sch.schGrantDate}}</td>
						<td>{{sch.schStartDate}}</td>
						<td>{{sch.schEndDate}}</td>
						<td>{{sch.schGranter==null?'':sch.schGranter.empName}}</td>
						<td>{{sch.schGrantee==null?'':sch.schGrantee.empName}}</td>
						<td>
							<div class="dropdown">				
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									操作
									<span class="caret"></span>
								</button>				
								<ul class="dropdown-menu">
									<li><a href="javascript:void(0)" @click="showDetails(sch.schId)">修改/详细</a></li>
									<li><a href="javascript:void(0)"@click="del(sch.schId,index)">删除</a></li>
								</ul>				
							</div>
						</td>
					</tr>					
				</tbody>
			</table>	
			
			<div class="row" v-show="pager.recordCount!=0">
				<div class="col-sm-4">
					<div>
						共{{pager.recordCount}}条数据，每页{{pager.pageSize}}条，
						共{{pager.pageCount}}页，当前是第{{pager.pageNum}}页
					</div>
				</div>
				<div class="col-sm-8">
					<nav>
			        	<ul class="pagination pull-right">
			        		<li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(1);">首页</a></li>
			                <li v-show="pager.pageNum!=1"><a href="javascript:void(0);" @click="query(pager.pageNum-1);">上页</a></li>
			                
			                <li :class="{active:item==pager.pageNum}" v-for="(item,index) in pageBtn"><a href="javascript:void(0);" @click="query(item);">{{item}}</a></li>
			                			                
			                <li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageNum+1);">下页</a></li>
			                <li v-show="pager.pageNum!=pager.pageCount"><a href="javascript:void(0);" @click="query(pager.pageCount);">末页</a></li>			                
			        	</ul>
			        </nav>
				</div>				
			</div>
			
			<div class="alert alert-info" v-show="pager.recordCount==0">
				没有任何满足条件的数据
			</div>
			
			<div class="row">
				<div class="col-md-offset-8 col-md-4">
					<a href="AddSch.html" class="btn btn-primary btn-block">增加新任务</a>
				</div>
			</div>
			
		</div>	
		
		
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/global.js" ></script>
		<script type="text/javascript" src="../js/bootstrap/js/bootstrap.js" ></script>
		<script type="text/javascript" src="../js/layer/layer.js" ></script>
		<script type="text/javascript" src="../js/vue/vue2.5.js" ></script>
		
		<script>	
		
			//搜索条件
			var empCond = '';
			var empcond1 = ''
			var schNameCond = '';
		
			//动态生成授予人列表
			$.getJSON(baseUrl + '/employee/query',{},function(data) {		
				//遍历数据集合
				list = data.list;
				$.each(list, function(index,el) {	
					$('#empId1').append('<option value="' + el.empId + '" >' + el.empName + '</option>');	
				});				
			})
			.error(function(){
				alert('请求授予人列表失败');				
			});
			
			//动态生成被授予人列表
			$.getJSON(baseUrl + '/employee/query',{},function(data) {				
				//遍历数据集合
				list=data.list;
				$.each(list, function(index,el) {				
					$('#empId2').append('<option value="' + el.empId + '" >' + el.empName + '</option>');					
				});				
			})
			.error(function(){
				alert('请求被授予人列表失败');				
			});	
			
			
			var v = new Vue({
				el:'.container', //应用vue数据的范围
				data:{  //数据模型
					schData:[], //任务数据集合
					pager:{},   //分页信息
					pageBtn:[]  //分页按钮					
				},
				methods:{ //定义方法
					query:function(pageNum) {	 //查询					
						//发出ajax请求调用后端接口
						var url = baseUrl + "/sch/search";
						
						//请求参数
						var params = {
							pageNum:pageNum,
							pageSize:10,
							empId1:empCond,
							empId2: empcond1,
							schName:schNameCond
						}
						
						$.ajax({
							type:"POST", //请求类型get post
							url: url, //请求url地址
							async:true, //true默认表示异步请求
							dataType:'json', //响应的数据类型
							data:params     //请求参数
						})
						.done(function(data,status,xhr){ //请求成功回调函数
							//把响应的数据赋值给vue数据模型中的变量
							v.schData = data.list;	
							v.pager = data.pager;
							
							//生成分页按钮
							var start = v.pager.pageNum - 2;
							var end = v.pager.pageNum + 2;
							
							if (v.pager.pageNum < 3) {
								start = 1;
								end = 5;
							}
							
							if (end > v.pager.pageCount) {
								end = v.pager.pageCount;								
							}
							
							if (v.pager.pageCount < 5) {
								start = 1;
								end = v.pager.pageCount;
							}
							
							v.pageBtn = [];//初始化清空
							
							for (var i = start;i <= end;i ++) {
								v.pageBtn.push(i);
							}						
							
						})
						.fail(function(xhr,errorStatus,errorText){ //请求失败回调函数
							alert(errorStatus + ',' + errorText);				
						});							
					},
					del:function(schId,index) {  //删除
						
						var flag = window.confirm('确定要删除此任务吗');
						
						if (!flag)
							return;					
												
						//发出ajax请求调用后端接口
						var url = baseUrl + "/sch/delete";
						
						$.ajax({
							type:"get", //请求类型get post
							url: url, //请求url地址
							async:true, //true默认表示异步请求
							dataType:'text', //响应的数据类型	
							data:{schId:schId}							
						})
						.done(function(data,status,xhr){ //请求成功回调函数
							layer.msg('删除任务成功');	
							//location.reload();//刷新当前网页
							v.schData.splice(index,1);//前端删除
						})
						.fail(function(xhr,errorStatus,errorText){ //请求失败回调函数
							alert(errorStatus + ',' + errorText);				
						});
					},
					showDetails:function(schId) { //修改查看详细的方法
						
						// 利用iframe加载其他网页内容到页面层 type:2
						layer.open({
							title:'任务详细信息',
						    type: 2, 				   
						    area: ['600px', '800px'], //宽高
						    content: 'UpdateSch.html?schId=' + schId
						});
						
					}
					
					
				}
			});				
			
//			调用查询方法
			v.query(1);		
			
			
			//搜索按钮单击
			$('#searchBtn').click(function(){
				
				//条件赋值
				empCond = $('#empId1').val();
				empcond1 = $('#empId2').val();
				schNameCond = $('#schName').val();
				v.query(1);				
			});
			
		</script>
		
	</body>
</html>