<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.file.dao.FileMapper">
	<resultMap id="BaseResultMap" type="com.icss.oa.file.pojo.File">
		<id column="file_id" property="fileId" jdbcType="INTEGER" />
		<result column="file_name" property="fileName" jdbcType="VARCHAR" />
		<result column="file_info" property="fileInfo" jdbcType="VARCHAR" />
		<result column="file_size" property="fileSize" jdbcType="INTEGER" />
		<result column="file_state" property="fileState" jdbcType="VARCHAR" />
		<result column="file_create_date" property="fileCreateDate"
			jdbcType="DATE" />
		<result column="file_update_date" property="fileUpdateDate"
			jdbcType="DATE" />
		<!-- association must be put after result! -->
		<association property="fileSuperFolder" javaType="com.icss.oa.folder.pojo.Folder">
			<id column="fol_id" property="folId" jdbcType="INTEGER" />
			<result column="fol_name" property="folName" jdbcType="VARCHAR" />
		</association>

	</resultMap>



	<insert id="insert" parameterType="com.icss.oa.file.pojo.File">
		insert into file (file_id,
		file_name, file_info,
		file_size, file_super_folder, file_state,
		file_create_date, file_update_date
		)
		values (default,
		#{fileName,jdbcType=VARCHAR}, #{fileInfo,jdbcType=VARCHAR},
		#{fileSize,jdbcType=INTEGER},
		#{fileSuperFolder.folId,jdbcType=INTEGER},
		#{fileState,jdbcType=VARCHAR},
		#{fileCreateDate,jdbcType=DATE},
		#{fileUpdateDate,jdbcType=DATE}
		)
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from file
		where file_id
		= #{fileId,jdbcType=INTEGER}
	</delete>
	<update id="update" parameterType="com.icss.oa.file.pojo.File">
		update file
		set file_name =
		#{fileName,jdbcType=VARCHAR},
		file_info = #{fileInfo,jdbcType=VARCHAR},
		file_size = #{fileSize,jdbcType=INTEGER},
		file_super_folder =
		#{fileSuperFolder.fol_id,jdbcType=INTEGER},
		file_state =
		#{fileState,jdbcType=VARCHAR},
		file_create_date =
		#{fileCreateDate,jdbcType=DATE},
		file_update_date =
		#{fileUpdateDate,jdbcType=DATE}
		where file_id =
		#{fileId,jdbcType=INTEGER}
	</update>
	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select f.* ,f.file_super_folder fol_id
		from file f
		where file_id =
		#{fileId,jdbcType=INTEGER}
	</select>
	<select id="queryByPage" resultMap="BaseResultMap">
		select
		f.file_id,f.file_name,fo.fol_id,e.emp_id
		from file f
		LEFT OUTER JOIN
		folder fo ON f.file_super_folder=fo.fol_id
		LIMIT #{start},#{pageSize}
	</select>
	<select id="query" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select *
		from file
		where file_id = #{fileId,jdbcType=INTEGER}
	</select>
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from file
	</select>
	<select id="queryByCondition" resultMap="BaseResultMap">
		select f.file_id,f.file_name,fo.fol_id,e.emp_id
		from file f
		LEFT OUTER
		JOIN folder fo ON f.file_super_folder=fo.fol_id
		<where>
			<if test="folId!=null">
				and file_super_folder=#{folId,jdbcType=INTEGER}
			</if>
			<if test="fileName!=null and fileName!='' ">
				and file_name like
				concat('%',#{fileName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		LIMIT #{start},#{pageSize}
	</select>
	<select id="getCountByCondition" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM FILE fi INNER JOIN folder fo ON fi.`file_super_folder`=fo.`fol_id`
		<where>
			<if test="folId!=null">
				and file_super_folder=#{folId,jdbcType=INTEGER}
			</if>
			<if test="fileName!=null and fileName!='' ">
				and instr(file_name,#{fileName,jdbcType=VARCHAR})!=0
			</if>
		</where>
	</select>
	<select id="queryByIds" resultMap="BaseResultMap">
		select * from file
		<where>
			<if test="ids.length>0">
				file_id in
				<foreach collection="ids" index="i" item="fileId" open="("
					close=")" separator=",">
					#{empId}
				</foreach>
			</if>
		</where>
	</select>
</mapper>