<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.message.dao.MessageMapper">

	<!-- 结果集映射 -->
	<resultMap id="BaseResultMap" type="com.icss.oa.message.pojo.Message">
		<id column="mes_id" property="mesId" jdbcType="INTEGER" />
		<result column="mes_send_confirm" property="mesSendConfirm"
			jdbcType="VARCHAR" />
		<result column="mes_read_confirm" property="mesReadConfirm"
			jdbcType="VARCHAR" />
		<result column="mes_send_date" property="mesSendDate" jdbcType="TIMESTAMP" />
		<result column="mes_info" property="mesInfo" jdbcType="VARCHAR" />
		<result column="mes_title" property="mesTitle" jdbcType="VARCHAR" />

		<association property="mesSender" javaType="com.icss.oa.system.pojo.Employee">
			<id column="mes_sender" property="empId" jdbcType="INTEGER" />
			<result column="sender_name" property="empName" jdbcType="VARCHAR" />
			<result column="sender_email" property="empEmail" jdbcType="VARCHAR" />
		</association>

		<association property="mesReciver" javaType="com.icss.oa.system.pojo.Employee">
			<id column="mes_reciver" property="empId" jdbcType="INTEGER" />
			<result column="reciver_name" property="empName" jdbcType="VARCHAR" />
			<result column="reciver_email" property="empEmail" jdbcType="VARCHAR" />
		</association>

	</resultMap>

	<!-- 插入信息，已经发送的方法发件箱，没有发送成功的放到草稿箱 -->
	<insert id="insert" parameterType="com.icss.oa.message.pojo.Message">
		insert into message
		values(default, #{mesTitle}, #{mesSendConfirm},
		#{mesReadConfirm}, #{mesSendDate}, #{mesInfo},
		#{mesSender.empId},#{mesReciver.empId})
	</insert>

	<!-- 修改信息，在草稿箱才可以用到，发件箱不可以用到 -->
	<update id="update" parameterType="com.icss.oa.message.pojo.Message">
		update message set mes_title =
		#{mesTitle},
		mes_sender = #{mesSender.empId},
		mes_reciver =
		#{mesReciver.empId},
		mes_send_confirm = #{mesSendConfirm},
		mes_read_confirm =
		#{mesReadConfirm},
		mes_send_date = #{mesSendDate},
		mes_info = #{mesInfo}
		where mes_id=#{mesId}
	</update>

	<!-- 删除信息 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from message
		where
		mes_id = #{mesId}
	</delete>

	<!-- 简单的查询，把查询结果分页 -->
	<select id="queryByPage" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email, e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON m.`mes_reciver` = e2.`emp_id`
		LIMIT
		#{start}, #{pageSize}
	</select>
	
	<!-- 另一个分页查询 -->
	<select id="queryByPage1" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email, e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON m.`mes_reciver` = e2.`emp_id`
		LIMIT
		#{start}, #{pageSize}
	</select>
	
	<!-- 整合的模糊查询 -->
	<select id="queryByCondition" parameterType="com.icss.oa.message.pojo.Message" resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email, e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON m.`mes_reciver` = e2.`emp_id`
		<where>
			<if test="mesTitle != null and mesTitle != '' ">
				and mes_title like
				concat('%',#{mesTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="empEmail != null and empEmail != '' ">
				and e2.`emp_email` like
				concat('%',#{empEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="mesSendDate != null and mesSendDate != '' ">
				and mes_send_date like concat('%', #{mesSendDate}, '%')
			</if>
		</where>
		LIMIT #{start}, #{pageSize}
	</select>
	
	<!-- 查询总记录数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*)
		from message
	</select>

</mapper>