<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.message.dao.MessageMapper">

	<!-- 结果集映射 -->
	<resultMap id="BaseResultMap" type="com.icss.oa.message.pojo.Message">
		<id column="mes_id" property="mesId" jdbcType="INTEGER" />
		<result column="mes_send_confirm" property="mesSendConfirm"
			jdbcType="VARCHAR" />
		<result column="mes_read_confirm" property="mesReadConfirm"
			jdbcType="VARCHAR" />
		<result column="mes_send_date" property="mesSendDate" jdbcType="TIMESTAMP" />
		<result column="mes_info" property="mesInfo" jdbcType="VARCHAR" />
		<result column="mes_title" property="mesTitle" jdbcType="VARCHAR" />

		<association property="mesSender" javaType="com.icss.oa.system.pojo.Employee">
			<id column="mes_sender" property="empId" jdbcType="INTEGER" />
			<result column="sender_name" property="empName" jdbcType="VARCHAR" />
			<result column="sender_login_name" property="empLoginName"
				jdbcType="VARCHAR" />
			<result column="sender_email" property="empEmail" jdbcType="VARCHAR" />
		</association>

		<association property="mesReciver" javaType="com.icss.oa.system.pojo.Employee">
			<id column="mes_reciver" property="empId" jdbcType="INTEGER" />
			<result column="reciver_name" property="empName" jdbcType="VARCHAR" />
			<result column="reciver_login_name" property="empLoginName"
				jdbcType="VARCHAR" />
			<result column="reciver_email" property="empEmail" jdbcType="VARCHAR" />
		</association>

	</resultMap>

	<!-- 插入信息，已经发送的方法发件箱，没有发送成功的放到草稿箱 -->
	<insert id="insert" parameterType="com.icss.oa.message.pojo.Message">
		insert into message
		values(default, #{mesTitle}, #{mesSendConfirm},
		#{mesReadConfirm},
		#{mesSendDate}, #{mesInfo},
		#{mesSender.empId},#{mesReciver.empId})
	</insert>

	<!-- 修改信息，在草稿箱才可以用到，发件箱不可以用到 -->
	<update id="update" parameterType="com.icss.oa.message.pojo.Message">
		update message set mes_title =
		#{mesTitle},
		mes_sender = #{mesSender.empId},
		mes_reciver =
		#{mesReciver.empId},
		mes_send_confirm = #{mesSendConfirm},
		mes_read_confirm =
		#{mesReadConfirm},
		mes_send_date = #{mesSendDate},
		mes_info = #{mesInfo}
		where mes_id=#{mesId}
	</update>

	<!-- 删除信息 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from message
		where
		mes_id = #{mesId}
	</delete>

	<!-- 根据id查询信息 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON
		m.`mes_reciver` = e2.`emp_id`
		where mes_id=#{mesId}
		order by mes_send_date desc
	</select>

	<!-- 查询全部信息 -->
	<select id="query" resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id
		mes_sender,e2.emp_id
		mes_reciver,e1.emp_name
		sender_name,e2.emp_name
		reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email
		FROM
		message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON
		m.`mes_reciver` = e2.`emp_id`
		order by mes_send_date desc
	</select>

	<!-- 简单的查询，把查询结果分页 -->
	<select id="queryByPage" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email, e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT
		OUTER JOIN employee as e2
		ON m.`mes_reciver` = e2.`emp_id`
		order by mes_send_date desc
		LIMIT
		#{start}, #{pageSize}
	</select>

	<!-- 另一个分页查询 -->
	<select id="queryByPage1" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email, e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT
		OUTER JOIN employee as e2
		ON m.`mes_reciver` = e2.`emp_id`
		order by mes_send_date desc
		LIMIT
		#{start}, #{pageSize}
	</select>

	<!-- 整合的模糊查询 -->
	<select id="queryByCondition" parameterType="com.icss.oa.message.pojo.Message"
		resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON
		m.`mes_reciver` = e2.`emp_id`
		<where>
			<if test="mesTitle != null and mesTitle != '' ">
				and mes_title like
				concat('%',#{mesTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="empEmail != null and empEmail != '' ">
				and e2.`emp_email` like
				concat('%',#{empEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="mesSendDate != null and mesSendDate != '' ">
				and mes_send_date like concat('%', #{mesSendDate}, '%')
			</if>
			<if test="mesReciver != null and mesReciver != '' ">
				and mes_reciver = #{mesReciver}
			</if>
			<if test="mesInfo != null and mesInfo != '' ">
				and mes_info like
				concat('%',#{mesInfo,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by mes_send_date desc
		LIMIT #{start}, #{pageSize}
	</select>

	<!-- 整合的模糊查询 没有收件人 -->
	<select id="queryByCondition1" parameterType="com.icss.oa.message.pojo.Message"
		resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email
		FROM message m
		LEFT OUTER JOIN employee as e1
		ON m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON
		m.`mes_reciver` = e2.`emp_id`
		<where>
			<if test="mesTitle != null and mesTitle != '' ">
				and mes_title like
				concat('%',#{mesTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="empEmail != null and empEmail != '' ">
				and e2.`emp_email` like
				concat('%',#{empEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="mesSendDate != null and mesSendDate != '' ">
				and mes_send_date like concat('%', #{mesSendDate}, '%')
			</if>
		</where>
		order by mes_send_date desc
		LIMIT #{start}, #{pageSize}
	</select>

	<!-- 查询总记录数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*)
		from message
	</select>

	<!-- 根据条件查询记录数 -->
	<select id="getCountByCondition" resultType="java.lang.Integer">
		select count(*)
		from message m
		LEFT OUTER JOIN employee as e1
		ON
		m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON
		m.`mes_reciver` = e2.`emp_id`
		<where>
			<if test="mesTitle != null and mesTitle != '' ">
				and mes_title like
				concat('%',#{mesTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="empEmail != null and empEmail != '' ">
				and e2.`emp_email` like
				concat('%',#{empEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="mesSendDate != null and mesSendDate != '' ">
				and mes_send_date like concat('%', #{mesSendDate}, '%')
			</if>
			<if test="mesReciver != null and mesReciver != '' ">
				and mes_reciver=#{mesReciver}
			</if>
			<if test="mesInfo != null and mesInfo != '' ">
				and mes_info like
				concat('%',#{mesInfo,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by mes_send_date desc
	</select>

	<!-- 获得最后一次添加的信息的id -->
	<select id="getLastInsertId" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</select>

	<!-- 根据登录名查询在线信息 -->
	<select id="queryByLoginName" parameterType="com.icss.oa.message.pojo.Message"
		resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email,
		e1.emp_login_name sender_login_name,
		e2.emp_login_name
		reciver_login_name
		FROM message m
		LEFT OUTER JOIN
		employee as e1 ON
		m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee
		as e2 ON
		m.`mes_reciver` = e2.`emp_id`
		<!-- where e1.emp_login_name=#{empLoginName} OR e2.emp_login_name=#{empLoginName} -->
		<where>
			(e1.emp_login_name=#{empLoginName}
			OR
			e2.emp_login_name=#{empLoginName})
			<if test="mesTitle != null and mesTitle != '' ">
				and mes_title like
				concat('%',#{mesTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="empEmail != null and empEmail != '' ">
				and e2.`emp_email` like
				concat('%',#{empEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="mesSendDate != null and mesSendDate != '' ">
				and mes_send_date like concat('%', #{mesSendDate}, '%')
			</if>
			<if test="mesReciver != null and mesReciver != '' ">
				and mes_reciver = #{mesReciver}
			</if>
			<if test="mesInfo != null and mesInfo != '' ">
				and mes_info like
				concat('%',#{mesInfo,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by mes_send_date desc
		LIMIT #{start}, #{pageSize}
	</select>

	<!-- 根据登录名查询相应的记录数 -->
	<select id="getCountByEmpLoginName" resultType="java.lang.Integer">
		select count(*)
		from message m
		LEFT OUTER JOIN employee as e1
		ON
		m.`mes_sender` =
		e1.`emp_id`
		LEFT OUTER JOIN employee as e2
		ON
		m.`mes_reciver` =
		e2.`emp_id`
		<where>
			(e1.emp_login_name=#{empLoginName}
			OR
			e2.emp_login_name=#{empLoginName})
			<if test="mesTitle != null and mesTitle != '' ">
				and mes_title like
				concat('%',#{mesTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="empEmail != null and empEmail != '' ">
				and e2.`emp_email` like
				concat('%',#{empEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="mesSendDate != null and mesSendDate != '' ">
				and mes_send_date like concat('%', #{mesSendDate}, '%')
			</if>
			<if test="mesReciver != null and mesReciver != '' ">
				and mes_reciver = #{mesReciver}
			</if>
			<if test="mesInfo != null and mesInfo != '' ">
				and mes_info like
				concat('%',#{mesInfo,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>

	<!-- 草稿箱以及发件箱的查询 -->
	<select id="queryDraft" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email,
		e1.emp_login_name sender_login_name,
		e2.emp_login_name
		reciver_login_name
		FROM message m
		LEFT OUTER JOIN employee as e1 ON
		m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2 ON
		m.`mes_reciver` = e2.`emp_id`
		WHERE
		mes_send_confirm=#{mesSendConfirm}
		and
		e1.emp_login_name=#{empLoginName}
		order by mes_send_date desc
		LIMIT #{start}, #{pageSize}
	</select>

	<!-- 查询草稿箱以及发件箱的个数 -->
	<select id="getCountDraft" resultType="java.lang.Integer">
		SELECT count(*)
		FROM
		message m
		LEFT OUTER JOIN employee as e1 ON m.`mes_sender` =
		e1.`emp_id`
		LEFT OUTER JOIN employee as e2 ON m.`mes_reciver` =
		e2.`emp_id`
		WHERE
		mes_send_confirm=#{mesSendConfirm}
		and
		e1.emp_login_name=#{empLoginName}
	</select>

	<!-- 收件箱的查询 -->
	<select id="queryInbox" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email,
		e1.emp_login_name sender_login_name,
		e2.emp_login_name
		reciver_login_name
		FROM message m
		LEFT OUTER JOIN employee as e1 ON
		m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2 ON
		m.`mes_reciver` = e2.`emp_id`
		WHERE
		e2.emp_login_name=#{empLoginName}
		order by mes_send_date desc
		LIMIT #{start}, #{pageSize}
	</select>

	<!-- 查询收件箱的个数 -->
	<select id="getCountInbox" resultType="java.lang.Integer">
		SELECT count(*)
		FROM
		message m
		LEFT OUTER JOIN employee as e1 ON m.`mes_sender` =
		e1.`emp_id`
		LEFT OUTER JOIN employee as e2 ON m.`mes_reciver` =
		e2.`emp_id`
		WHERE
		e2.emp_login_name=#{empLoginName}
	</select>

	<!-- 未读消息的查询 -->
	<select id="queryUnread" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT m.*,e1.emp_id mes_sender,e2.emp_id
		mes_reciver,e1.emp_name
		sender_name,e2.emp_name reciver_name,
		e1.emp_email sender_email,
		e2.emp_email reciver_email,
		e1.emp_login_name sender_login_name,
		e2.emp_login_name
		reciver_login_name
		FROM message m
		LEFT OUTER JOIN employee as e1 ON
		m.`mes_sender` = e1.`emp_id`
		LEFT OUTER JOIN employee as e2 ON
		m.`mes_reciver` = e2.`emp_id`
		WHERE
		e2.emp_login_name=#{empLoginName}
		AND mes_send_confirm=#{mesSendConfirm}
		AND
		mes_read_confirm=#{mesReadConfirm}
		order by mes_send_date desc
		LIMIT #{start}, #{pageSize}
	</select>

	<!-- 查询未读消息的个数 -->
	<select id="getCountUnread" resultType="java.lang.Integer">
		SELECT count(*)
		FROM
		message m
		LEFT OUTER JOIN employee as e1 ON m.`mes_sender` =
		e1.`emp_id`
		LEFT OUTER JOIN employee as e2 ON m.`mes_reciver` =
		e2.`emp_id`
		WHERE
		e2.emp_login_name=#{empLoginName}
		AND
		mes_send_confirm=#{mesSendConfirm}
		AND
		mes_read_confirm=#{mesReadConfirm}
	</select>

</mapper>