<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.schedule.dao.ScheduleMapper">
	<resultMap id="BaseResultMap" type="com.icss.oa.schedule.pojo.Schedule">
		<id column="sch_id" property="schId" jdbcType="INTEGER" />
		<result column="sch_name" property="schName" jdbcType="VARCHAR" />
		<result column="sch_info" property="schInfo" jdbcType="VARCHAR" />
		<result column="sch_grant_date" property="schGrantDate"
			jdbcType="DATE" />
		<result column="sch_start_date" property="schStartDate"
			jdbcType="DATE" />
		<result column="sch_end_date" property="schEndDate" jdbcType="DATE" />
		<association property="schGranter" javaType="com.icss.oa.system.pojo.Employee">
			<id column="empc" property="empId" jdbcType="INTEGER" />
			<result column="empa" property="empName" jdbcType="VARCHAR" />
		</association>
		<association property="schGrantee" javaType="com.icss.oa.system.pojo.Employee">
			<id column="empd" property="empId" jdbcType="INTEGER" />
			<result column="empb" property="empName" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<insert id="insert" parameterType="com.icss.oa.schedule.pojo.Schedule">
		insert into schedule (sch_id,
		sch_name, sch_info,
		sch_grant_date, sch_start_date, sch_end_date,
		sch_granter, sch_grantee)
		values (default,
		#{schName,jdbcType=VARCHAR},
		#{schInfo,jdbcType=VARCHAR},
		#{schGrantDate,jdbcType=DATE},
		#{schStartDate,jdbcType=DATE},
		#{schEndDate,jdbcType=DATE},
		#{schGranter.empId,jdbcType=INTEGER},
		#{schGrantee.empId,jdbcType=INTEGER})
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		schedule
		where
		sch_id = #{schId,jdbcType=INTEGER}
	</delete>

	<update id="update" parameterType="com.icss.oa.schedule.pojo.Schedule">
		update schedule
		set sch_name =
		#{schName,jdbcType=VARCHAR},
		 sch_info =
		#{schInfo,jdbcType=VARCHAR},
		sch_grant_date =
		#{schGrantDate,jdbcType=DATE},
		sch_start_date =
		#{schStartDate,jdbcType=DATE},
		sch_end_date =
		#{schEndDate,jdbcType=DATE},
		sch_granter =
		#{schGranter.empId,jdbcType=INTEGER},
		sch_grantee =
		#{schGrantee.empId,jdbcType=INTEGER}
		where sch_id =
		#{schId,jdbcType=INTEGER}
	</update>
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from schedule
	</select>
	<select id="query" resultMap="BaseResultMap">
		select s.*,e.emp_name empa ,em.emp_name empb ,e.emp_id empc,em.emp_id empd
		from schedule s
		LEFT OUTER JOIN employee e ON
		s.sch_granter=e.emp_id
		LEFT OUTER JOIN employee em ON
		s.sch_grantee=em.emp_id
		order by sch_id
	</select>
	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select s.*,e.emp_name empa ,em.emp_name empb ,e.emp_id empc,em.emp_id empd
		from schedule s
		LEFT OUTER JOIN employee e ON
		s.sch_granter=e.emp_id
		LEFT OUTER JOIN employee em ON
		s.sch_grantee=em.emp_id
		where s.sch_id = #{schId,jdbcType=INTEGER}
	</select>
	<select id="queryByPage" resultMap="BaseResultMap">
		select s.*,e.emp_name empa ,em.emp_name empb ,e.emp_id empc,em.emp_id empd
		from schedule s
		LEFT OUTER JOIN employee e ON
		s.sch_granter=e.emp_id
		LEFT OUTER JOIN employee em ON
		s.sch_grantee=em.emp_id
		LIMIT
		#{start},#{pageSize}
	</select>

	<select id="queryByCondition" resultMap="BaseResultMap">
		select s.*,e.emp_name empa ,em.emp_name empb ,e.emp_id empc,em.emp_id empd
		from schedule s
		LEFT OUTER JOIN employee e ON
		s.sch_granter=e.emp_id
		LEFT OUTER JOIN employee em ON
		s.sch_grantee=em.emp_id
		<where>
			<if test="empId1!=null">
				and sch_granter=#{empId1,jdbcType=INTEGER}
			</if>
			<if test="empId2!=null">
				and sch_grantee=#{empId2,jdbcType=INTEGER}
			</if>
			<if test="schName!=null and schName!='' ">
				and instr(sch_name,#{schName,jdbcType=VARCHAR})!=0
			</if>
		</where>
		LIMIT #{start},#{pageSize}
	</select>
	
	<select id="queryByIds" resultMap="BaseResultMap">
		select s.*,e.emp_name empa ,em.emp_name empb ,e.emp_id empc,em.emp_id empd
		from schedule s
		LEFT OUTER JOIN employee e ON
		s.sch_granter=e.emp_id
		LEFT OUTER JOIN employee em ON
		s.sch_grantee=em.emp_id
		<where>
			<if test="ids.length>0">
				sch_id in
				<foreach collection="ids" index="i" item="schId" open="("
					close=")" separator=",">
					#{schId}
				</foreach>
			</if>
		</where>
	</select>
	<select id="getCountByCondition" resultType="java.lang.Integer">
		select COUNT(*)
		from schedule s
		LEFT OUTER JOIN employee e ON
		s.sch_granter=e.emp_id
		LEFT OUTER JOIN employee em ON
		s.sch_grantee=em.emp_id
		<where>
			<if test="empId1!=null">
				and sch_granter=#{empId1,jdbcType=INTEGER}
			</if>
			<if test="empId2!=null">
				and sch_grantee=#{empId2,jdbcType=INTEGER}
			</if>

			<if test="schName!=null and schName!='' ">
				and instr(sch_name,#{schName,jdbcType=VARCHAR})!=0
			</if>
		</where>
	</select>
	<select id="getLastInsertId" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</select>
</mapper>