<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.plan.dao.PlanMapper">
	<resultMap id="BaseResultMap" type="com.icss.oa.plan.pojo.Plan">
		<id column="plan_id" property="planId" jdbcType="INTEGER" />
		<result column="plan_name" property="planName" jdbcType="VARCHAR" />
		<result column="plan_time" property="planTime" jdbcType="DATE" />
		<result column="plan_info" property="planInfo" jdbcType="VARCHAR" />

		<association property="dept" javaType="com.icss.oa.system.pojo.Department">
			<id column="dept_id" property="deptId" jdbcType="INTEGER" />
			<result column="dept_name" property="deptName" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	
	<insert id="insert" parameterType="com.icss.oa.plan.pojo.Plan">
	    insert into plan values(default,#{planName,jdbcType=VARCHAR},#{planTime,jdbcType=DATE},#{planInfo,jdbcType=VARCHAR},#{dept.deptId,jdbcType=INTEGER})
	</insert>
	
	<select id="queryByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select *,de.dept_name from plan p LEFT OUTER JOIN department de on p.dept_id=de.dept_id 
	    <where>
	      <if test="planTime != null and planTime !='' ">
	          and plan_time like #{planTime}
	      </if>
	      <if test="planName != null and planName !='' ">
	          and instr(plan_name,#{planName,jdbcType=VARCHAR})!=0
	      </if>
	      
	      <if test="deptId != null and deptId !='' ">
	          and p.dept_id=#{deptId}
	      </if>
	    </where>
	    LIMIT #{start}, #{pageSize}
	</select>
	
	<select id="getQueryCount" resultType="java.lang.Integer" >
	   select COUNT(*) from plan p LEFT OUTER JOIN department de on p.dept_id=de.dept_id 
	    <where>
	      <if test="planTime != null and planTime !='' ">
	          and plan_time like #{planTime,jdbcType=Date}
	      </if>
	      <if test="planName != null and planName !='' ">
	          and instr(plan_name,#{planName,jdbcType=VARCHAR})!=0
	      </if>
	      
	      <if test="deptId != null and deptId !='' ">
	          and p.dept_id=#{deptId}
	      </if>
	    </where>
	</select>
	
	<select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from plan where plan_id=#{planId}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
	    delete from plan where plan_id=#{planId}
	</delete>
	
	<update id="update" parameterType="com.icss.oa.plan.pojo.Plan">
	    update plan set plan_name=#{planName},plan_time=#{planTime},
	    plan_info=#{planInfo}
	    where plan_id=#{planId}
	</update>
	
</mapper>