
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" charset="width=device-width, initial-scale=1"
	user-scalable="no">
<!--手机设备显示-->
<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../js/ztree/css/zTreeStyle/zTreeStyle.css" />

<title>云目录</title>

</head>
<body>



	<!-- 网页头部完成-->
	<!-- 每个模块的部分 -->
	<div class="container">
			<!-- navigate -->
			<ol class="breadcrumb">
				<li><a href="#">OA系统</a></li>
				<li><a href="#">系统管理</a></li>
				<li><a href="#">文件管理</a></li>
				<li>文件列表</li>
			</ol>
			
			<h3 class="page-header">
				文件目录
			</h3>
			<!-- navigate end -->
		<!-- 侧边栏树形结构-->
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading" style="font-weight: bolder">我的目录</div>
				<div id="folderTree" class="panel-body" style="height: auto;">
					<ul id="treeDemo" class="ztree"></ul>
				</div>
			</div>

		</div>
		<!-- 侧边栏完成    -->

		<!-- 右侧内容-->
		<div id="currentFolder1" class="col-md-offset-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<b>文件列表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
					<b style="font-size:10px;">&nbsp;&nbsp;&nbsp;当前用户编号：</b><span id='folEmpId'></span>
					
					<div class="pull-right">
						<a href="javascript:void(0)" class="btn btn-xs btn-info" @click=Update();>重命名</a>
						<a href="javascript:void(0)" class="btn btn-xs btn-info" @click="Delete();">删除目录</a>
						<a href="javascript:void(0)" class="btn btn-xs btn-info" @click="AddFol();">新建子目录</a>
						<a href="javascript:void(0)" class="btn btn-xs btn-info" @click="AddRoot();">新建根目录</a>
						<a href="javascript:void(0)" class="btn btn-primary btn-xs"
							@click="AddWindow();">上传文件</a> 
						<input type="button" disabled value="批量删除" id="delManyBtn" class="btn btn-primary btn-xs"/>
					</div>
				</div>

				<div class="panel-body">
					
					<div class="panel panel-default">
						<div style="height: 600px; width:800px; overflow-x: visible; overflow-y: visible">
							<table
								class="table table-striped table-bordered table-hover table-condensed">
								<thead>
									<tr>
										<th>选择</th>
										<th>文件编号</th>
										<th>文件名称</th>
										<th>文件大小</th>
										<th>文件更改时间</th>
										<th>文件创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>

									<tr v-for="(file,index) in fileData">
										<td><input type="checkbox" name="ids"
											:value="file.fileId" /></td>
										<td>{{file.fileId}}</td>
										<td>{{file.fileName}}</td>
										<td>{{file.fileSize}}</td>
										<td>{{file.fileUpdateDate}}</td>
										<td>{{file.fileCreateDate}}</td>
										<td>
											<div class="dropdown">
												<button type="button"
													class="btn btn-default dropdown-toggle"
													data-toggle="dropdown">
													操作 <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="javascript:void(0)" @click="Rename(file.fileId)">重命名</a></li>
													<li><a href="javascript:void(0)"  @click="Download(file.fileId)">下载到本地</a></li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="row" v-show="pager.recordCount!=0">
								<div class="col-sm-6">
									<div>共{{pager.recordCount}}条数据，每页{{pager.pageSize}}条，
										共{{pager.pageCount}}页，当前是第{{pager.pageNum}}页</div>
								</div>
								<div class="col-sm-8">
									<nav>
										<ul class="pagination pull-right">
											<li v-show="pager.pageNum!=1"><a
												href="javascript:void(0);" @click="query(1);">首页</a></li>
											<li v-show="pager.pageNum!=1"><a
												href="javascript:void(0);" @click="query(pager.pageNum-1);">上页</a></li>

											<li :class="{active:item==pager.pageNum}"
												v-for="(item,index) in pageBtn"><a
												href="javascript:void(0);" @click="query(item);">{{item}}</a></li>

											<li v-show="pager.pageNum!=pager.pageCount"><a
												href="javascript:void(0);" @click="query(pager.pageNum+1);">下页</a></li>
											<li v-show="pager.pageNum!=pager.pageCount"><a
												href="javascript:void(0);" @click="query(pager.pageCount);">末页</a></li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="alert alert-info" v-show="pager.recordCount==0">
								暂无数据</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--右侧内容完 -->

	</div>



	<!--网页底部结束-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/global.js"></script>
	<script type="text/javascript"
		src="../js/ztree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="../js/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/layer/layer.js"></script>
	<script type="text/javascript" src="../js/vue/vue2.5.js"></script>
	<script>
		var folId3;
		var folId2;
		var folSuperFol;
		var folEmpId;
		var folId4;
		var folCond = '';
		var folcondition=''
		var setting = {
			data : {
				simpleData : {
					enable : true,
					idKey : "folId",
					pIdKey : "folSuperFol",
					rootPId : ""
				},
				key : {
					name : "folName"
				}
			},
			callback : {
				onClick : onclick
				
			}
		};

		$(document).ready(function() {

			$.getJSON(baseUrl + '/fol/query', function(data) {

				//统一设置目录图标
				$.each(data, function(index, el) {
					el.isParent = true;
				});

				//绑定数据到树形菜单
				$.fn.zTree.init($("#treeDemo"), setting, data);

			});

		});

		//单击节点回调函数

		var v = new Vue({
			el : '.container',
			updated : function() {

			},
			data : {
				fileData : [],
				pager : {}, //分页信息
				pageBtn : []//分页按钮
			},
			methods : {
				query : function(pageNum) { //查询					
					//发出ajax请求调用后端接口
					var url = baseUrl + "/file/search";

					//请求参数
					var params = {
						pageNum : pageNum,
						pageSize : 10,
						folId : folCond,
						
					}

					$.ajax({
						type : "POST", //请求类型get post
						url : url, //请求url地址
						async : true, //true默认表示异步请求
						dataType : 'json', //响应的数据类型
						data : params
					//请求参数
					}).done(function(data, status, xhr) { //请求成功回调函数
						//把响应的数据赋值给vue数据模型中的变量
						v.fileData = data.list;
						v.pager = data.pager;

						//生成分页按钮
						var start = v.pager.pageNum - 2;
						var end = v.pager.pageNum + 2;

						if (v.pager.pageNum < 3) {
							start = 1;
							end = 5;
						}

						if (end > v.pager.pageCount) {
							end = v.pager.pageCount;
						}

						if (v.pager.pageCount < 5) {
							start = 1;
							end = v.pager.pageCount;
						}

						v.pageBtn = [];//初始化清空

						for (var i = start; i <= end; i++) {
							v.pageBtn.push(i);
						}

					}).fail(function(xhr, errorStatus, errorText) { //请求失败回调函数
						alert(errorStatus + ',' + errorText);
					});
				},
				AddWindow : function() { //
					// 利用iframe加载其他网页内容到页面层 type:2
			
					if(folId2==undefined)
					{
						alert("未选择文件夹，操作无效");
						return;
						
					}
			
					layer.open({
						title : '上传文件',
						type : 2,
						area : [ '600px', '300px' ], //宽高
						content : 'AddFile.html?folId2='+folId2
					});

				},
				AddFol:function(){
					if(folSuperFol==undefined)
					{
						alert("必须选择一个目录");
						return;
					}
					
					layer.open({
						title : '上传文件',
						type : 2,
						area : [ '600px', '1000px' ], //宽高
						content : 'AddFolder.html?folSuperFol='+folSuperFol+'&folEmpId='+folEmpId
					});
				},
				AddRoot:function(){
					
					layer.open({
						title : '上传文件',
						type : 2,
						area : [ '600px', '1000px' ], //宽高
						content : 'AddRoot.html?folEmpId='+folEmpId
					});
				},
				Rename:function(fileId) { //修改查看详细的方法
					alert(fileId);
					// 利用iframe加载其他网页内容到页面层 type:2
					layer.open({
						title:'任务详细信息',
					    type: 2, 				   
					    area: ['600px', '800px'], //宽高
					    content: 'UpdateFile.html?fileId=' + fileId
					});
					
				},
				Delete:function(){
					if(folId3==undefined)
					{
						alert("未选择文件夹，操作无效");
						return;
						
					}
					var flag = window.confirm('确定要删除此目录吗');
					if (!flag)
						return;
			
					//发出ajax请求调用后端接口
					var url = baseUrl + "/fol/delete";
					
					$.ajax({
						type:"get", //请求类型get post
						url: url, //请求url地址
						async:true, //true默认表示异步请求
						dataType:'text', //响应的数据类型	
						data:{folId:folId3}							
					})
					.done(function(data,status,xhr){ //请求成功回调函数
						layer.msg('删除任务成功');	
						location.reload();//刷新当前网页
						v.folData.splice(index,1);//前端删除
					})
					.fail(function(xhr,errorStatus,errorText){ //请求失败回调函数
						alert(errorStatus + ',' + errorText);				
					});
					
				},
				Update:function() { //修改查看详细的方法
					if(folId4==undefined)
					{
						alert("未选择文件夹，操作无效");
						return;
						
					}
					// 利用iframe加载其他网页内容到页面层 type:2
					layer.open({
						title:'任务详细信息',
					    type: 2, 				   
					    area: ['600px', '800px'], //宽高
					    content: 'UpdateFol.html?folId=' + folId4
					});
					
				},
				Download:function(fileId){
					var flag = window.confirm('确定要下载文件吗');
					
					if (!flag)
						return;					
											
					//直接跳转到下载页面
					location.href = baseUrl + "/file/download?fileId=" +fileId;

				}
			}
		});
		
		function onclick(event, treeId, treeNode, clickFlag) {
			folId3=treeNode.folId;
			folId2 =  treeNode.folId;
			folId4=treeNode.folId;
			folSuperFol=treeNode.folId;
			folCond = treeNode.folId;
			folcondition=treeNode.folId;
			v.query(1);
		}
		$.post(baseUrl + '/employee/getId',function(data) {
			
			$('#folEmpId').html(data);
			folEmpId=document.getElementById("folEmpId").innerHTML;
			
		});	
		 
			
		//批量删除1
		$('#delManyBtn').click(function(){
			var flag = window.confirm('确定要删除此任务吗');
		
			if (!flag)
				return;	
			var ids = $(':checkbox[name=ids]:checked');
			
			if (ids.length == 0) {
				alert('没有选择任何选项');
				return;
			}
			
			var idsStr = '';
			
			for (var i = 0;i < ids.length;i ++) {
				idsStr += ids.eq(i).val() + ',';
			}
			
			idsStr = idsStr.substr(0,idsStr.length-1);
			
			alert(idsStr);
			
			$.post(baseUrl + '/file/deleteMany',{ids:idsStr},function(){
				layer.msg('删除任务成功');	
				location.reload();
				v.fileData.splice(index,1);//前端删除											
			});
			
		});	
		
		//删除按钮的状态						
		$('.container').on('click',':checkbox[name=ids]',function(){
			
			var ids = $(':checkbox[name=ids]:checked');
											
			if (ids.length == 0)
				$('#delManyBtn').prop('disabled',true);
			else
				$('#delManyBtn').prop('disabled',false);
			
		});				
		

	</script>

</body>

</html>