@charset "utf-8";

/*统一设置*/
* {
	margin: 0;
	padding: 0;
}

/*网页背景图片*/
body {
	background: url(../images/main_bg2.jpg) no-repeat;
	background-size: cover;
}

/*登录容器*/
#main {
	width: 350px;
	height: 650px;
	background: rgba(0,0,0,0.5);
	margin: 40px auto;
	border-top: 8px solid #00CCCC;
	position: relative;
}

/*头像区*/
#header-border {
	width: 198px;
	height: 198px;
	background: url(../images/liudehua.jpg) no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin: 50px auto;
}

/*账号密码区*/
#account {
	width: 265px;
	margin: 0px auto;
}

/*用户名和密码框*/
#account .input input {
	width: 255px;
	height: 40px;
	border: 0;
	margin-bottom: 20px;
	padding: 0 5px;
	background: rgba(0,0,0,0.5);
	color: #00CCCC;
	font-size: 16px;
	outline: none;
}

/*登录按钮*/
.btn-login {
	display: block;
	width: 265px;
	height: 40px;
	background: #00CCCC;
	border: none;
	outline: none;
	margin: 20px auto;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}

/*鼠标按下*/
.btn-login:active {
	top: 2px;
}

/*登录区底部*/
#footer {
	width: 100%;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #cccccc;
	text-align: center;
}

#footer a {
	color: #CCCCCC;
	text-decoration: none;
}
