<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.analyze.dao.AnalyzeMapper">

	<!-- 查询结果集映射 -->
	<resultMap id="DeptEmpCountResultMap" type="com.icss.oa.analyze.dto.DeptEmpCount">		
		<result column="dept_name" property="deptName" jdbcType="VARCHAR" />
		<result column="emp_count" property="empCount" jdbcType="INTEGER" />
	</resultMap>

	<!-- 统计每个部门的人数 -->
	<select id="queryDeptEmpCount" resultMap="DeptEmpCountResultMap">
		SELECT d.`dept_name`,COUNT(e.`emp_id`) emp_count
		FROM   department d
		LEFT OUTER JOIN employee e ON d.`dept_id`=e.`emp_dept_id`
		GROUP BY d.`dept_name`
	</select>
	
	<!-- 统计每个部门的最低和最高工资 -->
	<select id="querySalMinMax" resultType="java.util.Map">
		SELECT d.`dept_name`,MAX(e.`emp_sal`) maxSal,MIN(e.`emp_sal`) minSal
		FROM   department d
		INNER JOIN employee e ON d.`dept_id`=e.`emp_dept_id`
		GROUP BY d.`dept_name`
	</select>
	
	<!-- 统计每种职务的人数 -->
	<select id="queryJobEmpCount" resultType="java.util.Map">
		SELECT j.job_name,COUNT(e.`emp_id`) emp_count
		FROM   job j
		INNER JOIN employee e ON j.job_id=e.`emp_job_id`
		GROUP BY  j.job_name
	</select>
	
</mapper>