<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.folder.dao.FolderMapper">
	<resultMap id="BaseResultMap" type="com.icss.oa.folder.pojo.Folder">
		<id column="fol_id" property="folId" jdbcType="INTEGER" />
		<result column="fol_name" property="folName" jdbcType="VARCHAR" />
		<result column="fol_size" property="folSize" jdbcType="DOUBLE" />
		<result column="fol_description" property="folDescription"
			jdbcType="VARCHAR" />
		<result column="fol_state" property="folState" jdbcType="VARCHAR" />
		<result column="fol_update_date" property="folUpdateDate"
			jdbcType="DATE" />
		<result column="fol_create_date" property="folCreateDate"
			jdbcType="DATE" />
		<association property="folSuperFol" javaType="com.icss.oa.folder.pojo.Folder">
			<id column="fol_id" property="folId" jdbcType="INTEGER" />
			<result column="fol_name" property="folName" jdbcType="VARCHAR" />
		</association>
		<association property="folEmp" javaType="com.icss.oa.system.pojo.Employee">
			<id column="emp_id" property="empId" jdbcType="INTEGER" />
			<result column="emp_name" property="empName" jdbcType="VARCHAR" />
		</association>
	</resultMap>



	<insert id="insert" parameterType="com.icss.oa.folder.pojo.Folder">
		insert into folder (fol_id,
		fol_name, fol_size,
		fol_super_fol, fol_description, fol_state,
		fol_update_date, fol_create_date, fol_emp_id
		)
		values
		(default,
		#{folName,jdbcType=VARCHAR},
		#{folSize,jdbcType=DOUBLE},
		#{folSuperFol.folId,jdbcType=INTEGER},
		#{folDescription,jdbcType=VARCHAR}, #{folState,jdbcType=VARCHAR},
		#{folUpdateDate,jdbcType=DATE}, #{folCreateDate,jdbcType=DATE},
		#{folEmp.empId,jdbcType=INTEGER}
		)
	</insert>


	<delete id="delete" parameterType="java.lang.Integer">
		delete from folder
		where fol_id
		= #{folId,jdbcType=INTEGER}
	</delete>
	<update id="update" parameterType="com.icss.oa.folder.pojo.Folder">
		update folder
		set fol_name =
		#{folName,jdbcType=VARCHAR},
		fol_size = #{folSize,jdbcType=DOUBLE},
		fol_super_fol = #{folSuperFol.folId,jdbcType=INTEGER},
		fol_description
		= #{folDescription,jdbcType=VARCHAR},
		fol_state =
		#{folState,jdbcType=VARCHAR},
		fol_update_date =
		#{folUpdateDate,jdbcType=DATE},
		fol_create_date =
		#{folCreateDate,jdbcType=DATE},
		fol_emp_id =
		#{folEmp.empId,jdbcType=INTEGER}
		where fol_id =
		#{folId,jdbcType=INTEGER}
	</update>

	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from folder
	</select>
	<select id="query" resultMap="BaseResultMap">
	    SELECT *
	    from folder
	</select>
	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		f.*,fold.fol_id,e.emp_name,e.emp_id
		FROM folder f
		LEFT OUTER JOIN employee
		e ON f.fol_emp_id=e.emp_id
		LEFT OUTER JOIN
		folder fold ON
		f.fol_super_fol=fold.fol_id
		where f.fol_id = #{folId,jdbcType=INTEGER}
	</select>
	<select id="queryByPage" resultMap="BaseResultMap">
		SELECT
		f.*,fold.fol_id,e.emp_name,e.emp_id	
		FROM folder f
		LEFT OUTER JOIN employee e ON
		f.fol_emp_id=e.emp_id
		LEFT OUTER JOIN
		folder fold ON
		f.fol_super_fol=fold.fol_id
		LIMIT
		#{start},#{pageSize}
	</select>
	<select id="queryByCondition" resultMap="BaseResultMap">
		SELECT
		f.*,fold.fol_id,e.emp_name,e.emp_id
		FROM folder f
		LEFT OUTER JOIN employee
		e ON f.fol_emp_id=e.emp_id
		LEFT OUTER JOIN
		folder fold ON
		f.fol_super_fol=fold.fol_id
		<where>
			<if test="empId!=null">
				and f.fol_emp_id=#{empId,jdbcType=INTEGER}
			</if>
			<if test="folId!=null">
				and f.fol_super_fol=#{folId,jdbcType=INTEGER}
			</if>
			<if test="folName!=null and folName!='' ">
				and instr(f.fol_name,#{folName,jdbcType=VARCHAR})!=0
			</if>
		</where>
		LIMIT #{start},#{pageSize}
	</select>
	<select id="getCountByCondition" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM FOLDER fo INNER JOIN employee e ON
		fo.fol_emp_id=e.emp_id
		<where>
			<if test="empId!=null">
				and fo.fol_emp_id=#{empId,jdbcType=INTEGER}
			</if>
			<if test="folId!=null">
				and fo.fol_super_fol=#{folId,jdbcType=INTEGER}
			</if>
			<if test="folName!=null and folName!='' ">
				and instr(fo.fol_name,#{folName,jdbcType=VARCHAR})!=0
			</if>
		</where>
	</select>
	<select id="queryByIds" resultMap="BaseResultMap">
		SELECT
		f.*,fold.fol_id,e.emp_name,e.emp_id
		FROM folder f
		LEFT OUTER JOIN employee
		e ON f.fol_emp_id=e.emp_id
		LEFT OUTER JOIN
		folder fold ON
		f.fol_super_fol=fold.fol_id
		<where>
			<if test="ids.length>0">
				f.fol_id in
				<foreach collection="ids" index="i" item="folId" open="("
					close=")" separator=",">
					#{folId}
				</foreach>
			</if>
		</where>
	</select>
</mapper>